body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}